In [1]:
import numpy as np
import pandas as pd

In [5]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

ds = pd.Series(['Ram', 'Mohan', 'Gaurav', 'Mitali'])

ds

0       Ram
1     Mohan
2    Gaurav
3    Mitali
dtype: object

In [19]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

ds = pd.Series(['Ram', 'Mohan', 'Gaurav', 'Mitali'])

lst = list(ds)
type(lst)

list

In [17]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

s1 = pd.Series ([2, 4, 6, 8, 10])
s2 = pd.Series ([1, 3, 5, 7, 9])

print("Add s1 + s2: ", s1 + s2)
print("Subtract s1 - s2: ", s1 - s2)
print("Multiply s1 * s2: ", s1 * s2)
print("Divide s1 / s2: ", s1 / s2)

Add s1 + s2:  0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract s1 - s2:  0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply s1 * s2:  0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide s1 / s2:  0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [22]:
# Write a Pandas program to compare the elements of the two Pandas Series.

s1 = pd.Series ([2, 4, 6, 8, 10])
s2 = pd.Series ([1, 3, 5, 7, 10])
print("Compare s1 > s2: \n", s1 > s2)
print("Compare s1 < s2: \n", s1 < s2)
print("Compare s1 == s2: \n", s1 == s2)

Compare s1 > s2:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Compare s1 < s2:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
Compare s1 == s2:
 0    False
1    False
2    False
3    False
4     True
dtype: bool

In [24]:
# Write a Pandas program to convert a dictionary to a Pandas series.

dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

srs = pd.Series(dict)

srs

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [25]:
# Write a Pandas program to convert a NumPy array to a Pandas series.

arr = np.array([10, 20, 30, 40, 50])

srs = pd.Series(arr)

srs

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [32]:
# Write a Pandas program to change the data type of given a column or a Series.

s1 = pd.Series ([100, 200, "python", 300.12, 400])
print(s1.replace("python", np.nan))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [43]:
# Write a Pandas program to convert the first column of a DataFrame as a Series.

dict ={'col1' : [1, 2, 3, 4, 7, 11],
'col2' : [4, 5, 6, 9, 5, 0],
'col3' : [7, 5, 8, 12, 1, 11]}

df = pd.DataFrame(data=dict)

ser = pd.Series(df['col1'])
ser

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [45]:
# Write a Pandas program to convert a given Series to an array.

s1 = pd.Series ([100, 200, "python", 300.12, 400])

arr = np.array(s1)

print(f" {arr} {type(arr)}")

 [100 200 'python' 300.12 400] <class 'numpy.ndarray'>

In [62]:
# Write a Pandas program to convert Series of lists to one Series.

lst = [['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']]

s1 = pd.Series(lst)

s2 = s1.apply(pd.Series).stack().reset_index(drop = True)

print(f"{s1}\n{s2}")

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [73]:
# Write a Pandas program to sort a given Series.

s1 = pd.Series (["100", "200", "python", "300.12", "400"])

s2 = s1.sort_values()

print(s2)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [88]:
# Write a Pandas program to add some data to an existing Series.

s1 = pd.Series (["100", "200", "python", "300.12", "400"])
s2 = pd.Series([500, "php"])
s3 =pd.concat([s1, s2], ignore_index=True)
s3

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [89]:
# 12. Write a Pandas program to create a subset of a given series based on value and condition.

s1 = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

s1[:6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [94]:
# Write a Pandas program to change the order of index of a given series.

s1 = pd.Series([1, 2, 3, 4, 5], index= ['A', 'B', 'C', 'D', 'E'])

s2 = s1.reindex(['B', 'A', 'C', 'D', 'E'])

s2

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [100]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.

s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3])
print(f"Series s1 {s1} \nMean {s1.mean()} \nStandard Deviation {s1.std()}")

Series s1 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean 4.818181818181818
Standard Deviation 2.522624895547565

In [6]:
# Write a Pandas program to get the items of a given series not present in another given series.

s1 = pd.Series ([1, 2, 3, 4, 5])
s2 = pd.Series ([2, 4, 6, 8, 10])

s3 = s1[~s1.isin(s2)]
s3

0    1
2    3
4    5
dtype: int64

In [8]:
# Write a Pandas program to get the items which are not common of two given series.

s1 = pd.Series ([1, 2, 3, 4, 5])
s2 = pd.Series ([2, 4, 6, 8, 10])

un = pd.Series(np.union1d(s1, s2)) 
  

intersec = pd.Series(np.intersect1d(s1, s2)) 
  
 
nc = un[~un.isin(intersec)] 
nc

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [13]:
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

s1 = np.random.RandomState(100)
s2 = pd.Series(s1.normal(10, 4, 20))
print("Original Series:")
print(s2)
s3 = np.percentile(s2, q=[0, 25, 50, 75, 100])

print("Percentile : " , s3)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
Percentile :  [ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [17]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series.

s1 = np.random.randint(10, size=40)
s2 = pd.Series(s1)
s2.value_counts()

0    8
1    6
8    5
9    4
3    4
5    4
4    4
7    2
2    2
6    1
Name: count, dtype: int64

In [68]:
# Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

s1 = np.random.randint(10, size=14)
s2 = pd.Series(s1)
#print(s2)
#n = 2
v_count = s2.value_counts()
maxn = v_count.max()
print(v_count)

s2[s2.apply(lambda x: x if x != maxn else "others")]

print(v_count)

8    3
3    3
1    2
5    2
9    1
6    1
2    1
0    1
Name: count, dtype: int64

KeyError: "['others'] not in index"

In [82]:
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     3
1     3
2     1
3     3
4     2
5     4
6     2
7     1
8     3
9     4
10    2
11    1
12    1
13    2
14    4
dtype: int32
Top 2 Freq: 3    4
1    4
2    4
4    3
Name: count, dtype: int64
0         3
1         3
2     Other
3         3
4     Other
5     Other
6     Other
7     Other
8         3
9     Other
10    Other
11    Other
12    Other
13    Other
14    Other
dtype: object

C:\Users\Administrator.DAI-PC2\AppData\Local\Temp\ipykernel_20576\1718231610.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'

In [105]:
# Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
num_series = pd.Series(np.random.randint(1, 50, [15]))
print(num_series)
lst = num_series.loc[lambda x : x%5 ==0]
print("positin of Number multiple if 5 \n",lst.index)

0     12
1      8
2      5
3     30
4     12
5     18
6      6
7     38
8     13
9     18
10    32
11    45
12    28
13     5
14    24
dtype: int32
positin of Number multiple if 5
 Index([2, 3, 11, 13], dtype='int64')

In [117]:
#Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

lst = ['php',
'python',
'java',
'c#']
s1 = pd.Series(lst)
s1.apply(lambda x : x[:1].upper() + x[1:-1] + x[-1].upper())

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [121]:
# 25. Write a Pandas program to calculate the number of characters in each word in a given series.
lst = ['php',
'python',
'java',
'c#']
s1 = pd.Series(lst)
s1.apply(lambda x : len(x))

0    3
1    6
2    4
3    2
dtype: int64

In [126]:
# Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
num_series = pd.Series(np.random.randint(1, 50, [15]))

print(num_series.diff().diff().tolist())

[nan, nan, 10.0, 14.0, -34.0, -10.0, 32.0, -11.0, 7.0, -24.0, 51.0, -51.0, 15.0, 4.0, 27.0]

In [133]:
# Write a Pandas program to convert a series of date strings to a timeseries.
from datetime import datetime

lst =  ['01 Jan 2015',
'10-02-2016',
'20180307',
'2014/05/06',
'2016-04-12',
'2019-04-06T11:20']

s1 = pd.Series(lst)
s1.apply(lambda x : pd.to_datetime(x ))

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [159]:
# Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

lst =  ['01 Jan 2015',
'10-02-2016',
'20180307',
'2014/05/06',
'2016-04-12',
'2019-04-06T11:20']

s1 = pd.Series(lst)
s1 = s1.apply(lambda x : pd.to_datetime(x ))

In [168]:
print(" Day of the month : \n ", list(s1.dt.daysinmonth ))
#print())
print(" Day of the year : \n ", list(s1.dt.dayofyear )  )
print(" Week numbers  : \n ",list(s1.dt.dayofweek) )
print(" Day Week : \n : ", list(s1.dt.day_name()))

 Day of the month :
  [31, 31, 31, 31, 30, 30]
 Day of the year :
  [1, 276, 66, 126, 103, 96]
 Week numbers  :
  [3, 6, 2, 1, 1, 5]
 Day Week :
 :  ['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [177]:
# 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
from datetime import datetime
from dateutil.parser import parse

lst = ['Jan 2015',
'Feb 2016',
'Mar 2017',
'Apr 2018',
'May 2019']

s1 = pd.Series(lst)
result  = s1.apply(lambda x : parse('11' + x))
print(result)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [16]:
# 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
from collections import Counter


lst = ['Red',
'Green',
'Orange',
'Pink',
'Yellow',
'White']

lst1 = ['a','e','i', 'o', 'u','A', 'I', 'E', 'O', 'U']

s1 = pd.Series(lst)
res = s1.map(lambda x : sum(Counter(x).get(i,0) for i in lst1) >=2)
print(s1[res])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [41]:
'''31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line
distance between two points in Euclidean space. With this distance, Euclidean space
becomes a metric space. The associated norm is called the Euclidean norm. ''' 


from math import sqrt


arr = np.arange(1,11)
s1 = pd.Series(arr)
arr2 = arr[::-1]
s2 = pd.Series(arr2)
print(s1)
print(s2)
dist = np.sqrt(np.sum([(a-b)*(a-b) for a, b in zip(s1, s2)])) 
print(dist)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32
0    10
1     9
2     8
3     7
4     6
5     5
6     4
7     3
8     2
9     1
dtype: int32
18.16590212458495

In [66]:
# Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

num_series = pd.Series(np.random.randint(1, 50, [15]))
print(num_series)
temp = np.diff(np.sign(np.diff(num_series)))
print("\nPositions of the values surrounded by smaller values on both sides:")
result = np.where(temp == -2)[0] + 1
print(result)

0     32
1     40
2      1
3     38
4     11
5     47
6     34
7     47
8     10
9     10
10    38
11    20
12    41
13    28
14    21
dtype: int32

Positions of the values surrounded by smaller values on both sides:
[ 1  3  5  7 10 12]

In [102]:
# Write a Pandas program to replace missing white spaces in a given string with the least frequent character.
lst = list('abc def abcdef icd')
s1 = pd.Series(lst)
print(s1)
n = s1.value_counts()
print(n)
n[n == n.min()].index
s1.apply(lambda x: n[n == n.min()].index[0] if x ==" " else x)

0     a
1     b
2     c
3
4     d
5     e
6     f
7
8     a
9     b
10    c
11    d
12    e
13    f
14
15    i
16    c
17    d
dtype: object
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64

0     a
1     b
2     c
3     i
4     d
5     e
6     f
7     i
8     a
9     b
10    c
11    d
12    e
13    f
14    i
15    i
16    c
17    d
dtype: object

In [103]:
'''Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a
delayed copy of itself as a function of delay. Informally, it is the similarity between
observations as a function of the time lag between them.'''

'Write a Pandas program to compute the autocorrelations of a given numeric series.\nFrom Wikipedia:\nAutocorrelation, also known as serial correlation, is the correlation of a signal with a\ndelayed copy of itself as a function of delay. Informally, it is the similarity between\nobservations as a function of the time lag between them.'

In [107]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print(num_series)

autocorrelations = [num_series.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

0     -7.466198
1     30.198734
2     -3.293598
3     -2.887772
4      7.372163
5    -11.972583
6     11.612214
7     16.528788
8     12.107477
9     17.671856
10    16.965541
11     7.417242
12    19.125620
13    -0.671909
14    18.904240
dtype: float64

Autocorrelations of the said series:
[-0.3, 0.23, 0.29, -0.54, 0.21, 0.15, -0.4, 0.67, -0.14, -0.23]

In [108]:
# 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [130]:
# 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.
arr = np.arange(8)
s1 = pd.Series(arr)
df = pd.DataFrame({'Index': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], '0':s1, })
df

  Index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4
5     F  5
6     G  6
7     H  7

In [142]:
# 37. Write a Pandas program to stack two given series vertically and horizontally.


num_series1 = pd.Series(np.random.randint(1, 50, [15]))
num_series2 = pd.Series(np.random.randint(1, 50, [15]))
pd.concat([num_series1, num_series2], axis=1)

     0   1
0   14  46
1   17  43
2   12  35
3   25   6
4    5  44
5   49  23
6    1  12
7   28  31
8   18   8
9    5   8
10  18  37
11  36  38
12  30  21
13  10  27
14   8  23

In [143]:
pd.concat([num_series1, num_series2], axis=0)

0     14
1     17
2     12
3     25
4      5
5     49
6      1
7     28
8     18
9      5
10    18
11    36
12    30
13    10
14     8
0     46
1     43
2     35
3      6
4     44
5     23
6     12
7     31
8      8
9      8
10    37
11    38
12    21
13    27
14    23
dtype: int32

In [145]:
# 38. Write a Pandas program to check the equality of two given series.
nums1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
nums2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original Series:")
print(nums1)
print(nums2)
print("Check 2 series are equal or not?")
print(nums1 == nums2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [149]:
#39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series. 
num_series1 = pd.Series(np.random.randint(1, 50, [15]))
print(num_series2)
print(" max value index number :", num_series2.idxmax())
print(" min value index number :", num_series2.idxmin())

0     46
1     43
2     35
3      6
4     44
5     23
6     12
7     31
8      8
9      8
10    37
11    38
12    21
13    27
14    23
dtype: int32
 max value index number : 0
 min value index number : 3

In [151]:
#40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

df_data = pd.DataFrame({'A':[68,75,86,80,None],'B':[78,75,None,80,86], 'C':[84,94,89,86,86],'D':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      A     B   C   D
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       A      B     C     D
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True